In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../../data/raw/transactions_data.csv")

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,$1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,NaN
13305911,23761869,2019-10-31 23:56:00,1766,2066,$12.80,Online Transaction,39261,ONLINE,NaN,NaN,5815,NaN
13305912,23761870,2019-10-31 23:57:00,199,1031,$40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,NaN
13305913,23761873,2019-10-31 23:58:00,1986,5443,$4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,NaN
13305914,23761874,2019-10-31 23:59:00,489,5697,$12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,NaN

In [58]:
import requests
import time

resul = {}
client_ids = df['client_id'].unique()
cont = 0

for client in client_ids:
    print(cont)
    r = requests.get('https://faas-lon1-917a94a7.doserverless.co/api/v1/web/fn-a1f52b59-3551-477f-b8f3-de612fbf2769/default/cards-data', params = {'client_id': client}).json()
    if 'values' not in r:
        print('esperando')
        time.sleep(120)
        r = requests.get('https://faas-lon1-917a94a7.doserverless.co/api/v1/web/fn-a1f52b59-3551-477f-b8f3-de612fbf2769/default/cards-data', params = {'client_id': client}).json()
        print(r)

    for card in r['values']:
        if len(resul) == 0:
            for col in r['values'][card]:
                resul[col] = []
            resul['client_id'] = []
            resul['card_id'] = []
        for col in r['values'][card]:
            resul[col].append(r['values'][card][col])
        resul['card_id'].append(card)
    cont += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218

In [59]:
df_cards = pd.DataFrame()
for k in resul:
    df_cards[k] = resul[k]
df_cards

,acct_open_date,card_brand,card_number,card_on_dark_web,card_type,client_id,credit_limit,cvv,expires,has_chip,num_cards_issued,year_pin_last_changed,card_id
0,05/2008,Mastercard,5497590243197280,No,Debit (Prepaid),1556,$55,306,07/2022,YES,2,2008,2972
1,08/2010,Mastercard,5225389722526534,No,Debit,1556,$24772,891,09/2023,YES,2,2010,4333
2,04/2013,Mastercard,5918296616309874,No,Debit (Prepaid),561,$69,983,05/2024,YES,1,2013,2716
3,07/2006,Mastercard,5250625336912959,No,Debit,561,$26960,326,04/2022,YES,1,2010,3764
4,09/2005,Mastercard,5175842699412235,No,Credit,561,$9100,438,12/2024,YES,1,2015,4575
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4066,04/2016,Visa,4345309820081331,No,Credit,569,$5900,761,08/2022,YES,2,2016,2764
4067,06/2016,Mastercard,5046466769118356,No,Credit,616,$4500,561,05/2023,YES,2,2016,3611
4068,07/2016,Visa,4495571717001479,No,Credit,1862,$10200,778,09/2023,YES,2,2016,4049
4069,03/2017,Mastercard,5801798801399788,No,Credit,1527,$7100,527,06/2021,YES,2,2017,2366
4070,07/2017,Visa,4568990237174716,No,Credit,22,$13600,624,01/2022,YES,2,2017,4062

In [60]:
df_cards.to_csv('../../data/raw/card_data.csv')

In [77]:
resul2 = {}
client_ids = df['client_id'].unique()
cont = 0

for client in client_ids:
    print(cont)
    r = requests.get('https://faas-lon1-917a94a7.doserverless.co/api/v1/web/fn-a1f52b59-3551-477f-b8f3-de612fbf2769/default/clients-data', params = {'client_id': client}).json()
    if 'values' not in r:
        print('esperando')
        time.sleep(120)
        r = requests.get('https://faas-lon1-917a94a7.doserverless.co/api/v1/web/fn-a1f52b59-3551-477f-b8f3-de612fbf2769/default/clients-data', params = {'client_id': client}).json()

    for col in r['values']:
        if len(resul2) == 0:
            for col2 in r['values']:
                resul2[col2] = []
            resul2['client_id'] = []
        resul2[col].append(r['values'][col])
    resul2['client_id'].append(client)
    cont += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
esperando
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
esperando
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218

In [78]:
df_clients = pd.DataFrame()
for k in resul2:
    print(k, len(resul2[k]))
df_clients

address 1219
birth_month 1219
birth_year 1219
credit_score 1219
current_age 1219
gender 1219
latitude 1219
longitude 1219
num_credit_cards 1219
per_capita_income 1219
retirement_age 1219
total_debt 1219
yearly_income 1219
client_id 1219

Empty DataFrame
Columns: []
Index: []

In [79]:
df_clients = pd.DataFrame()
for k in resul2:
    df_clients[k] = resul2[k]
df_clients

,address,birth_month,birth_year,credit_score,current_age,gender,latitude,longitude,num_credit_cards,per_capita_income,retirement_age,total_debt,yearly_income,client_id
0,594 Mountain View Street,7,1989,740,30,Female,46.8,-100.76,4,$23679,67,$110153,$48277,1556
1,604 Pine Street,6,1971,834,48,Male,40.8,-91.12,5,$18076,67,$112139,$36853,561
2,2379 Forest Lane,4,1970,686,49,Male,33.18,-117.29,3,$16894,65,$36540,$34449,1129
3,903 Hill Boulevard,5,1967,685,52,Female,41.42,-87.35,5,$26168,67,$128676,$53350,430
4,166 River Drive,5,1968,711,51,Male,38.86,-76.6,2,$33529,69,$96182,$68362,848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,29 Martin Luther King Lane,2,1968,662,52,Male,34.83,-92.2,1,$22377,73,$81136,$45625,569
1215,4173 Wessex Avenue,5,1974,586,45,Female,32.19,-88.05,1,$17076,72,$63313,$34817,616
1216,7111 Lexington Avenue,4,1994,686,25,Female,41.57,-93.61,1,$18568,65,$57052,$37864,1862
1217,1426 Fifth Avenue,11,1953,578,66,Female,43.32,-71.18,1,$24779,67,$98763,$50523,1527
1218,5651 North Boulevard,3,1963,747,56,Male,38.99,-76.88,1,$26467,66,$135478,$53966,22

In [82]:
df_clients.to_csv('../../data/raw/client_data.csv')

## Ejercicio 1

In [125]:
def fecha_a_numerico(f):
    m = f.split('/')[0]
    y = f.split('/')[1]
    resul = float(y) + float(m)/12
    return resul

def max_expires(l):
    resul = []
    for x in l:
        resul.append(fecha_a_numerico(x))
    maximo = resul.index(max(resul))
    return maximo

In [124]:
exp = df[df['expires'] == '12/2024']
x = list(exp['credit_limit'].map(lambda x: float(x[1:])).values)
min = max(x)
for i in x:
    if i < min:
        min = i
min = int(min)
resul = exp[exp['credit_limit'] == f'${min}']
resul['card_id'].values[0]

4490

In [129]:
df = pd.read_csv("../../data/raw/card_data.csv")
df.iloc[max_expires(df['expires'].values),:]['expires']

'12/2024'

## Ejercicio 2

In [11]:
import pandas as pd
df_clients = pd.read_csv("../../data/raw/client_data.csv")
df_clients

,Unnamed: 0,address,birth_month,birth_year,credit_score,current_age,gender,latitude,longitude,num_credit_cards,per_capita_income,retirement_age,total_debt,yearly_income,client_id
0,0,594 Mountain View Street,7,1989,740,30,Female,46.80,-100.76,4,$23679,67,$110153,$48277,1556
1,1,604 Pine Street,6,1971,834,48,Male,40.80,-91.12,5,$18076,67,$112139,$36853,561
2,2,2379 Forest Lane,4,1970,686,49,Male,33.18,-117.29,3,$16894,65,$36540,$34449,1129
3,3,903 Hill Boulevard,5,1967,685,52,Female,41.42,-87.35,5,$26168,67,$128676,$53350,430
4,4,166 River Drive,5,1968,711,51,Male,38.86,-76.60,2,$33529,69,$96182,$68362,848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,1214,29 Martin Luther King Lane,2,1968,662,52,Male,34.83,-92.20,1,$22377,73,$81136,$45625,569
1215,1215,4173 Wessex Avenue,5,1974,586,45,Female,32.19,-88.05,1,$17076,72,$63313,$34817,616
1216,1216,7111 Lexington Avenue,4,1994,686,25,Female,41.57,-93.61,1,$18568,65,$57052,$37864,1862
1217,1217,1426 Fifth Avenue,11,1953,578,66,Female,43.32,-71.18,1,$24779,67,$98763,$50523,1527
1218,1218,5651 North Boulevard,3,1963,747,56,Male,38.99,-76.88,1,$26467,66,$135478,$53966,22

In [12]:
def map_clients(list_edad, list_retirement):
    resul = []
    for i in range(len(list_edad)):
        if (int(list_retirement[i]) - int(list_edad[i])) == 1:
            resul.append(True)
        else:
            resul.append(False)
    return resul

ret = df_clients[map_clients(df_clients['current_age'], df_clients['retirement_age'])]
ret[ret['total_debt'] == max(ret['total_debt'].values)]['client_id'].values[0]

1527

In [13]:
ret[ret['credit_score'] == min(ret['credit_score'].values)]

,Unnamed: 0,address,birth_month,birth_year,credit_score,current_age,gender,latitude,longitude,num_credit_cards,per_capita_income,retirement_age,total_debt,yearly_income,client_id
506,506,649 Spruce Boulevard,12,1958,578,61,Male,32.29,-81.23,4,$23029,62,$69753,$46954,1666
1217,1217,1426 Fifth Avenue,11,1953,578,66,Female,43.32,-71.18,1,$24779,67,$98763,$50523,1527

In [14]:
min(ret['credit_score'].values)

578

## Ejercicio 3

In [9]:
import pandas as pd
df = pd.read_csv("../../data/raw/transactions_data.csv")
df

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,$1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,NaN
13305911,23761869,2019-10-31 23:56:00,1766,2066,$12.80,Online Transaction,39261,ONLINE,NaN,NaN,5815,NaN
13305912,23761870,2019-10-31 23:57:00,199,1031,$40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,NaN
13305913,23761873,2019-10-31 23:58:00,1986,5443,$4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,NaN
13305914,23761874,2019-10-31 23:59:00,489,5697,$12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,NaN

In [26]:
abs(float('$-77.00'[1:]))

77.0

In [27]:
from datetime import datetime

def ultimo_diciembre(s):
    d = datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
    if d.month == 12 and d.day == 31:
        return True
    return False
dic = df[df['date'].map(ultimo_diciembre)]

Empty DataFrame
Columns: [id, date, client_id, card_id, amount, use_chip, merchant_id, merchant_city, merchant_state, zip, mcc, errors]
Index: []

In [28]:
dic

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
1237666,8962673,2010-12-31 00:01:00,1684,94,$23.16,Online Transaction,39021,ONLINE,NaN,NaN,4784,NaN
1237667,8962676,2010-12-31 00:05:00,641,4718,$90.01,Swipe Transaction,4312,Chicago,IL,60639.0,5411,NaN
1237668,8962677,2010-12-31 00:06:00,848,3915,$60.28,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN
1237669,8962678,2010-12-31 00:08:00,386,3673,$86.57,Online Transaction,80770,ONLINE,NaN,NaN,7922,NaN
1237670,8962679,2010-12-31 00:08:00,1797,1127,$38.06,Swipe Transaction,54343,San Leandro,CA,94577.0,4121,Bad PIN
...,...,...,...,...,...,...,...,...,...,...,...,...
12145944,22326457,2018-12-31 23:55:00,672,4464,$13.29,Swipe Transaction,55187,Cosby,TN,37722.0,5411,NaN
12145945,22326458,2018-12-31 23:55:00,1825,4310,$1.40,Chip Transaction,50783,Port Orange,FL,32128.0,5411,NaN
12145946,22326459,2018-12-31 23:56:00,949,2249,$71.41,Chip Transaction,94123,New York,NY,10002.0,5310,NaN
12145947,22326460,2018-12-31 23:57:00,81,4525,$72.92,Swipe Transaction,16247,Seguin,TX,78155.0,5300,NaN
12145948,22326461,2018-12-31 23:58:00,814,340,$44.57,Online Transaction,87530,ONLINE,NaN,NaN,4900,NaN

In [31]:
resul = dic[dic['amount'] == '$'+str(max(dic['amount'].map(lambda x: abs(float(x[1:])))))]
resul['id'].values[0]

15469158

## Ejercicio 4

In [33]:
def febrero_2016(s):
    d = datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
    if d.month == 2 and d.year == 2016:
        return True
    return False

df_cards = pd.read_csv("../../data/raw/card_data.csv")

mayores = df_clients[df_clients['current_age'] > 40]
visa = df_cards[df_cards['card_brand'] == 'Visa']
febrero = df[df['date'].map(febrero_2016)]

In [55]:
merged1 = pd.merge(mayores, visa, how='inner', on='client_id')
merged2 = pd.merge(merged1, febrero, how='inner', on='card_id')
merged2

,Unnamed: 0_x,address,birth_month,birth_year,credit_score,current_age,gender,latitude,longitude,num_credit_cards,...,date,client_id_y,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,1,604 Pine Street,6,1971,834,48,Male,40.80,-91.12,5,...,2016-02-03 10:42:00,561,$4.73,Chip Transaction,87071,Burlington,IA,52601.0,4121,NaN
1,1,604 Pine Street,6,1971,834,48,Male,40.80,-91.12,5,...,2016-02-03 14:12:00,561,$24.78,Chip Transaction,22204,Burlington,IA,52601.0,5541,NaN
2,1,604 Pine Street,6,1971,834,48,Male,40.80,-91.12,5,...,2016-02-04 10:47:00,561,$8.19,Chip Transaction,87071,Burlington,IA,52601.0,4121,NaN
3,1,604 Pine Street,6,1971,834,48,Male,40.80,-91.12,5,...,2016-02-04 14:25:00,561,$23.27,Chip Transaction,75781,Mediapolis,IA,52637.0,5411,NaN
4,1,604 Pine Street,6,1971,834,48,Male,40.80,-91.12,5,...,2016-02-07 13:18:00,561,$21.97,Chip Transaction,20218,Burlington,IA,52601.0,5411,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31715,1195,1915 Catherine Boulevard,10,1975,796,44,Male,38.91,-75.43,3,...,2016-02-26 11:57:00,160,$49.44,Chip Transaction,32858,Washington,DC,20032.0,5311,NaN
31716,1195,1915 Catherine Boulevard,10,1975,796,44,Male,38.91,-75.43,3,...,2016-02-26 20:15:00,160,$1.05,Swipe Transaction,86438,Milford,DE,19963.0,5499,NaN
31717,1195,1915 Catherine Boulevard,10,1975,796,44,Male,38.91,-75.43,3,...,2016-02-27 12:01:00,160,$8.94,Chip Transaction,78454,Millsboro,DE,19966.0,5812,NaN
31718,1195,1915 Catherine Boulevard,10,1975,796,44,Male,38.91,-75.43,3,...,2016-02-27 13:19:00,160,$8.23,Swipe Transaction,61195,Milford,DE,19963.0,5541,NaN
31719,1195,1915 Catherine Boulevard,10,1975,796,44,Male,38.91,-75.43,3,...,2016-02-27 15:50:00,160,$218.47,Chip Transaction,27355,Milford,DE,19963.0,6300,NaN

In [60]:
cont = {}
for _, row in merged2.iterrows():
    client = row['client_id_x']
    card = row['card_id']
    if (client, card) not in cont:
        cont[(client, card)] = 1
    else:
        cont[(client, card)] += 1

In [61]:
cont

{(561, 6053): 21,
 (430, 4351): 30,
 (430, 5768): 26,
 (848, 3915): 24,
 (1684, 3278): 47,
 (335, 5131): 31,
 (351, 1043): 13,
 (351, 2664): 17,
 (554, 2308): 12,
 (554, 2424): 16,
 (554, 3912): 26,
 (554, 4275): 45,
 (605, 212): 57,
 (605, 5061): 45,
 (1797, 1127): 54,
 (1797, 5660): 62,
 (114, 5283): 95,
 (1634, 4743): 10,
 (394, 2663): 38,
 (394, 4341): 28,
 (394, 6057): 53,
 (1376, 3532): 34,
 (1682, 2517): 2,
 (1682, 3407): 52,
 (301, 3742): 93,
 (1755, 1248): 21,
 (1755, 4228): 19,
 (401, 5628): 35,
 (1127, 3869): 39,
 (652, 1197): 13,
 (652, 1255): 13,
 (1963, 3364): 58,
 (1963, 4565): 120,
 (1963, 5418): 54,
 (1963, 6058): 44,
 (285, 2156): 87,
 (285, 3442): 58,
 (1201, 16): 19,
 (1201, 2735): 20,
 (1201, 4793): 16,
 (1703, 3602): 79,
 (1758, 2154): 28,
 (1758, 3440): 29,
 (1758, 4686): 26,
 (414, 3958): 20,
 (989, 4124): 25,
 (989, 4354): 13,
 (1519, 2452): 29,
 (1575, 5582): 105,
 (1484, 2733): 22,
 (1484, 5058): 16,
 (1077, 214): 104,
 (1077, 4104): 49,
 (1787, 4826): 33,
 (1731, 4616): 8,
 (1731, 4888): 3,
 (597, 4540): 34,
 (760, 4379): 35,
 (727, 2665): 13,
 (727, 4698): 12,
 (1024, 1006): 36,
 (858, 4735): 26,
 (1424, 4876): 58,
 (474, 5845): 35,
 (1142, 4842): 21,
 (241, 3921): 28,
 (1776, 3596): 160,
 (595, 2128): 16,
 (212, 4145): 21,
 (1155, 1328): 45,
 (1443, 254): 35,
 (1443, 3749): 47,
 (1998, 1258): 18,
 (1998, 2160): 12,
 (1998, 4892): 12,
 (503, 2513): 41,
 (714, 2616): 16,
 (908, 4230): 19,
 (758, 2662): 37,
 (1411, 1069): 38,
 (1411, 4700): 22,
 (895, 217): 29,
 (1459, 177): 35,
 (702, 2258): 31,
 (702, 3863): 30,
 (702, 4096): 19,
 (169, 5717): 22,
 (957, 82): 24,
 (1921, 3024): 21,
 (1920, 2791): 32,
 (319, 248): 53,
 (609, 2290): 50,
 (609, 2892): 17,
 (1209, 3362): 20,
 (819, 3245): 6,
 (1237, 3372): 37,
 (1237, 5300): 26,
 (1686, 2617): 42,
 (442, 112): 31,
 (442, 141): 26,
 (442, 2346): 15,
 (377, 3906): 40,
 (185, 2711): 54,
 (1382, 5262): 33,
 (1080, 5844): 33,
 (356, 5279): 28,
 (816, 5066): 16,
 (103, 110): 7,
 (1635, 115): 24,
 (1635, 1309): 35,
 (20, 1291): 8,
 (20, 4995): 15,
 (1736, 113): 46,
 (1736, 2687): 47,
 (1736, 4399): 44,
 (526, 5917): 18,
 (1378, 283): 26,
 (1378, 4227): 38,
 (100, 1045): 9,
 (100, 5000): 12,
 (1718, 2732): 65,
 (1563, 2054): 25,
 (1563, 4030): 32,
 (1728, 20): 6,
 (1728, 3493): 9,
 (984, 121): 12,
 (984, 2796): 39,
 (1148, 1286): 13,
 (1148, 3128): 32,
 (1540, 3496): 71,
 (1102, 3952): 14,
 (630, 5629): 41,
 (1445, 3722): 12,
 (1964, 2752): 29,
 (1098, 4626): 83,
 (1098, 5179): 126,
 (1541, 2307): 42,
 (1541, 5663): 29,
 (1356, 4752): 25,
 (961, 2201): 30,
 (961, 2202): 35,
 (961, 4584): 36,
 (1034, 4622): 19,
 (1759, 2893): 21,
 (1759, 4232): 89,
 (470, 5097): 39,
 (1769, 3981): 32,
 (1769, 43): 57,
 (303, 4824): 11,
 (303, 984): 11,
 (810, 4309): 42,
 (810, 5254): 22,
 (52, 3951): 75,
 (52, 4976): 81,
 (246, 1158): 18,
 (246, 3400): 29,
 (246, 6075): 7,
 (737, 148): 127,
 (1487, 2978): 23,
 (1487, 4946): 57,
 (1487, 5978): 35,
 (822, 5622): 20,
 (1840, 3660): 20,
 (1840, 4568): 18,
 (1840, 5915): 8,
 (327, 4170): 42,
 (327, 5512): 47,
 (1381, 5635): 43,
 (592, 3109): 30,
 (592, 3659): 30,
 (592, 5946): 19,
 (1529, 1156): 55,
 (511, 1038): 68,
 (1242, 5102): 23,
 (1786, 3789): 26,
 (211, 4746): 51,
 (997, 2261): 36,
 (112, 4339): 43,
 (112, 4398): 38,
 (996, 1279): 34,
 (1741, 1097): 10,
 (1741, 1360): 4,
 (1741, 2235): 2,
 (1741, 3025): 7,
 (1741, 6078): 17,
 (980, 6059): 8,
 (1150, 2551): 27,
 (135, 4791): 83,
 (357, 2832): 11,
 (357, 3706): 27,
 (1640, 1065): 8,
 (1640, 5171): 7,
 (679, 5714): 9,
 (634, 2272): 15,
 (634, 3541): 20,
 (827, 2836): 13,
 (497, 3452): 11,
 (1315, 2556): 23,
 (1315, 5719): 39,
 (122, 2134): 11,
 (122, 3794): 14,
 (946, 5297): 18,
 (477, 2450): 23,
 (477, 4168): 15,
 (1843, 249): 43,
 (1694, 3079): 6,
 (1694, 3306): 16,
 (1694, 5032): 8,
 (1694, 5944): 22,
 (1777, 2267): 11,
 (973, 5706): 49,
 (973, 5716): 53,
 (754, 3787): 12,
 (754, 4122): 15,
 (1138, 3139): 50,
 (1944, 33): 33,
 (81, 4525): 10,
 (515, 3984): 11,
 (1774, 4516): 29,
 (636, 284): 7,
 (636, 4795): 3,
 (1477, 3747): 14,
 (1485, 3819): 27,
 (1485, 4298): 27,
 (1485, 4736): 27,
 (1485, 5029): 26,
 (748, 1067): 15,
 (94, 2890): 93,
 (278, 2518): 22,
 (278, 3919): 28,
 (415, 3871): 21,
 (797, 3127): 9,
 (797, 350): 16,
 (1969, 4231): 33,
 (1969, 5549): 24,
 (1430, 2074): 15,
 (1430, 3987): 7,
 (1430, 4383): 17,
 (1956, 1125): 20,
 (1956, 2451): 22,
 (898, 3356): 20,
 (1274, 1075): 31,
 (1274, 24): 30,
 (1492, 2615): 19,
 (1492, 4818): 31,
 (1604, 1095): 38,
 (1604, 2207): 31,
 (1604, 2950): 61,
 (1144, 4141): 58,
 (840, 4992): 4,
 (1898, 1068): 6,
 (1898, 2423): 19,
 (1898, 4543): 27,
 (1844, 3702): 20,
 (1844, 6019): 12,
 (1791, 4587): 23,
 (1791, 5132): 15,
 (1193, 5681): 29,
 (4, 303): 47,
 (4, 5391): 35,
 (366, 1072): 14,
 (366, 5846): 13,
 (408, 2515): 79,
 (408, 4960): 61,
 (119, 5980): 27,
 (547, 5298): 74,
 (1811, 2165): 20,
 (1811, 291): 42,
 (1811, 3141): 19,
 (1268, 2658): 22,
 (277, 2350): 17,
 (364, 4623): 42,
 (757, 3947): 29,
 (1910, 3242): 39,
 (1910, 4615): 36,
 (1910, 5505): 33,
 (1305, 1260): 28,
 (249, 5134): 27,
 (1028, 139): 34,
 (1073, 2547): 60,
 (1073, 4436): 33,
 (1727, 5982): 91,
 (478, 1099): 19,
 (1198, 2804): 129,
 (323, 2135): 17,
 (549, 2588): 15,
 (354, 3168): 18,
 (354, 3657): 18,
 (376, 118): 72,
 (376, 1262): 41,
 (376, 4704): 48,
 (990, 5038): 51,
 (1872, 2917): 14,
 (1872, 2918): 13,
 (1872, 308): 16,
 (1872, 3962): 10,
 (126, 5872): 31,
 (846, 3443): 45,
 (849, 3823): 33,
 (1391, 5129): 69,
 (14, 2164): 15,
 (14, 3082): 17,
 (14, 4106): 6,
 (1067, 1063): 32,
 (1067, 3016): 36,
 (1809, 3866): 23,
 (1809, 4026): 31,
 (176, 2943): 30,
 (176, 6026): 25,
 (176, 972): 38,
 (1245, 3451): 27,
 (1827, 3959): 17,
 (1512, 2582): 44,
 (1512, 4139): 12,
 (1873, 306): 52,
 (1873, 4741): 56,
 (1595, 2472): 79,
 (203, 242): 12,
 (563, 1060): 44,
 (60, 4544): 23,
 (60, 5475): 8,
 (141, 2952): 28,
 (141, 3028): 15,
 (141, 5514): 20,
 (1156, 12): 30,
 (1156, 175): 17,
 (1156, 3280): 65,
 (1398, 216): 31,
 (1398, 5222): 20,
 (1261, 4121): 63,
 (148, 5585): 18,
 (954, 5586): 55,
 (704, 2945): 17,
 (704, 5703): 35,
 (1296, 80): 17,
 (655, 2133): 39,
 (987, 4146): 71,
 (1435, 4840): 88,
 (1286, 5168): 53,
 (1286, 5798): 66,
 (1618, 3031): 41,
 (519, 3555): 17,
 (1369, 3365): 43,
 (447, 3865): 21,
 (447, 4617): 25,
 (1221, 4561): 16,
 (1221, 4693): 8,
 (110, 4103): 15,
 (1444, 1308): 23,
 (1107, 2872): 11,
 (1772, 5918): 49,
 (1128, 4583): 3,
 (1764, 4381): 29,
 (252, 3788): 20,
 (419, 3587): 18,
 (419, 3792): 22,
 (419, 4111): 21,
 (1422, 5515): 23,
 (1422, 5696): 17,
 (472, 3826): 53,
 (1500, 5034): 37,
 (1500, 5180): 13,
 (142, 1046): 53,
 (142, 5140): 39,
 (1190, 4508): 65,
 (106, 5310): 32,
 (150, 5775): 22,
 (668, 5015): 15,
 (1344, 1027): 59,
 (1344, 1044): 48,
 (1567, 3956): 61,
 (1352, 59): 25,
 (217, 174): 16,
 (1842, 3743): 56,
 (1579, 3830): 17,
 (62, 2425): 14,
 (62, 2667): 7,
 (62, 3262): 15,
 (62, 3369): 25,
 (62, 5138): 22,
 (1307, 111): 40,
 (1307, 2810): 8,
 (1558, 3750): 58,
 (1558, 4747): 51,
 (1712, 4342): 41,
 (1451, 250): 82,
 (1825, 4310): 35,
 (1825, 5636): 29,
 (1825, 5713): 20,
 (115, 4590): 8,
 (115, 5704): 14,
 (469, 2619): 31,
 (469, 2686): 45,
 (69, 2514): 17,
 (69, 252): 1,
 (69, 5253): 9,
 (870, 3257): 80,
 (1041, 2500): 67,
 (1222, 1076): 110,
 (1561, 1025): 4,
 (1561, 5353): 17,
 (1591, 2847): 58,
 (520, 2659): 9,
 (520, 3948): 19,
 (705, 5359): 119,
 (1393, 3018): 79,
 (1877, 5414): 20,
 (576, 3600): 7,
 (576, 4624): 12,
 (576, 5664): 9,
 (1379, 4796): 56,
 (1379, 5215): 25,
 (1919, 4302): 21,
 (1995, 1196): 38,
 (779, 119): 31,
 (1171, 5354): 6,
 (1417, 3920): 10,
 (1417, 5707): 7,
 (804, 1071): 50,
 (804, 17): 41,
 (804, 5986): 35,
 (1026, 2870): 16,
 (1026, 2891): 12,
 (1026, 5398): 17,
 (1026, 983): 62,
 (370, 3490): 11,
 (370, 5093): 14,
 (921, 3457): 15,
 (921, 3537): 11,
 (921, 6115): 19,
 (13, 2941): 18,
 (13, 4270): 23,
 (13, 4862): 10,
 (667, 1194): 20,
 (667, 4563): 32,
 (667, 5063): 24,
 (1225, 1163): 21,
 (1225, 2338): 15,
 (1603, 5981): 36,
 (1358, 5135): 16,
 (746, 3492): 59,
 (1659, 260): 34,
 (1659, 3540): 92,
 (59, 3658): 9,
 (542, 4311): 9,
 (1207, 6056): 75,
 (385, 1290): 12,
 (385, 2289): 6,
 (385, 2871): 8,
 (1742, 4414): 40,
 (1742, 4559): 47,
 (1742, 5869): 12,
 (1116, 301): 27,
 (1116, 79): 23,
 (776, 3105): 35,
 (1648, 2166): 18,
 (1648, 2624): 16,
 (1648, 5282): 84,
 (1234, 22): 100,
 (1986, 5443): 21,
 (692, 3332): 22,
 (692, 4303): 38,
 (55, 3265): 34,
 (332, 1198): 67,
 (460, 5470): 20,
 (538, 5441): 57,
 (80, 2689): 19,
 (80, 307): 7,
 (80, 3829): 8,
 (80, 3917): 7,
 (80, 4492): 15,
 (1432, 4929): 37,
 (1432, 4958): 28,
 (257, 4386): 30,
 (1018, 3022): 114,
 (146, 2470): 29,
 (1992, 1132): 33,
 (1992, 3797): 24,
 (1992, 4442): 29,
 (1992, 5476): 32,
 (65, 4585): 40,
 (1250, 4352): 21,
 (1250, 5419): 33,
 (1250, 5446): 11,
 (250, 2914): 24,
 (250, 5136): 21,
 (782, 4169): 77,
 (789, 2269): 28,
 (964, 2407): 19,
 (964, 2593): 11,
 (416, 180): 20,
 (828, 3126): 82,
 (1509, 2352): 23,
 (1509, 3685): 38,
 (602, 3982): 36,
 (602, 4165): 24,
 (602, 5979): 37,
 (1966, 4737): 58,
 (1966, 6029): 49,
 (1236, 85): 11,
 (619, 5): 17,
 (859, 4014): 19,
 (1437, 4385): 44,
 (1437, 6062): 49,
 (1448, 4685): 86,
 (1448, 5907): 26,
 (1666, 178): 51,
 (1666, 993): 64,
 (248, 4029): 25,
 (361, 1261): 12,
 (361, 4703): 14,
 (1725, 2238): 20,
 (1725, 4998): 21,
 (1725, 4999): 9,
 (1671, 5785): 53,
 (1063, 2015): 74,
 (1063, 3498): 56,
 (917, 3410): 21,
 (39, 2039): 133,
 (1660, 4223): 10,
 (1660, 6074): 35,
 (207, 2260): 7,
 (207, 2661): 10,
 (1066, 1126): 71,
 (1412, 5311): 31,
 (87, 109): 101,
 (1528, 3752): 37,
 (1528, 4315): 28,
 (1528, 4805): 29,
 (1528, 4845): 35,
 (1576, 5248): 29,
 (1576, 5821): 23,
 (47, 5630): 25,
 (1586, 1122): 11,
 (1586, 6051): 27,
 (373, 261): 45,
 (373, 4750): 56,
 (1909, 4017): 51,
 (1909, 5640): 50,
 (1130, 4004): 19,
 (1194, 4614): 41,
 (811, 2318): 26,
 (811, 5277): 29,
 (1076, 3027): 20,
 (514, 1123): 31,
 (514, 2155): 26,
 (1302, 5632): 32,
 (1115, 4225): 41,
 (1915, 5031): 23,
 (231, 2474): 23,
 (231, 5718): 18,
 (1497, 3655): 70,
 (1514, 5103): 6,
 (683, 5990): 18,
 (663, 5941): 13,
 (343, 3953): 46,
 (343, 4189): 10,
 (1855, 3021): 24,
 (1891, 1161): 23,
 (1891, 1251): 12,
 (1891, 5440): 25,
 (449, 2738): 12,
 (449, 351): 10,
 (449, 3559): 15,
 (699, 3875): 36,
 (699, 4283): 29,
 (371, 3453): 60,
 (132, 2707): 13,
 (132, 5513): 8,
 (545, 5802): 29,
 (1385, 1256): 20,
 (1385, 4344): 18,
 (876, 3918): 27,
 (1654, 2915): 19,
 (1654, 4276): 23,
 (1942, 246): 14,
 (256, 3989): 40,
 (256, 5638): 8,
 (1520, 108): 23,
 (1520, 3329): 26,
 (1881, 2554): 49,
 (1881, 359): 46,
 (1881, 4653): 34,
 (814, 340): 4,
 (814, 4444): 10,
 (1060, 3907): 5,
 (1060, 5216): 30,
 (1083, 5173): 79,
 (1503, 4274): 10,
 (1503, 5350): 22,
 (1495, 2099): 20,
 (1495, 3531): 21,
 (1495, 4941): 11,
 (1495, 5767): 29,
 (1763, 4486): 32,
 (1123, 4350): 15,
 (1173, 2986): 13,
 (1173, 4696): 22,
 (1173, 5662): 11,
 (940, 5396): 34,
 (1069, 5167): 59,
 (1498, 2232): 42,
 (1644, 3444): 38,
 (1644, 3867): 17,
 (884, 2237): 70,
 (884, 4748): 39,
 (227, 2512): 14,
 (227, 4886): 13,
 (227, 5867): 29,
 (1535, 187): 51,
 (1535, 3461): 33,
 (1908, 2737): 36,
 (1908, 5945): 29,
 (801, 215): 7,
 (801, 3261): 19,
 (801, 3366): 9,
 (928, 3572): 14,
 (928, 4528): 12,
 (1546, 2684): 29,
 (1546, 5504): 21,
 (154, 4340): 68,
 (154, 5393): 53,
 (872, 5064): 16,
 (637, 2981): 72,
 (1958, 1283): 15,
 (1958, 3680): 13,
 (1324, 4959): 17,
 (1508, 3279): 22,
 (1936, 2264): 8,
 (1936, 5551): 13,
 (1027, 5543): 25,
 (1259, 2006): 23,
 (1259, 5913): 11,
 (1526, 2100): 11,
 (1104, 5766): 55,
 (282, 1287): 9,
 (282, 4229): 6,
 (282, 4822): 15,
 (1515, 2336): 8,
 (729, 3905): 14,
 (40, 1289): 14,
 (40, 2437): 14,
 (1204, 210): 23,
 (1204, 3821): 20,
 (96, 5175): 80,
 (1885, 2435): 60,
 (598, 2040): 172,
 (598, 32): 46,
 (948, 3083): 4,
 (948, 5695): 21,
 (1169, 5174): 49,
 (1169, 5763): 58,
 (1195, 3020): 11,
 (1195, 3219): 30,
 (1750, 5801): 18,
 (1818, 2259): 58,
 (1019, 4794): 39,
 (1019, 5170): 9,
 (696, 3870): 17,
 (1121, 5511): 56,
 (1551, 2988): 60,
 (1551, 5590): 13,
 (712, 5506): 17,
 (924, 2210): 64,
 (1247, 1073): 9,
 (1247, 3370): 11,
 (1699, 2204): 33,
 (1699, 4437): 31,
 (98, 4143): 60,
 (1114, 4650): 29,
 (575, 4271): 37,
 (575, 5278): 10,
 (1926, 1160): 59,
 (1926, 5439): 21,
 (1202, 4438): 2,
 (368, 3822): 55,
 (1345, 2497): 7,
 (1345, 287): 10,
 (1345, 5633): 12,
 (1345, 5984): 33,
 (1937, 3): 11,
 (1937, 4193): 13,
 (1937, 4868): 17,
 (1295, 2949): 29,
 (1295, 5017): 36,
 (1837, 259): 27,
 (793, 4234): 61,
 (1916, 2395): 11,
 (1916, 3258): 15,
 (1916, 3305): 17,
 (1916, 4863): 17,
 (1135, 3081): 29,
 (1135, 4977): 26,
 (1135, 6093): 30,
 (659, 4864): 15,
 (659, 5263): 13,
 (659, 5658): 13,
 (1859, 2241): 27,
 (1859, 5018): 13,
 (1279, 3220): 22,
 (1279, 4188): 39,
 (1279, 5472): 46,
 (1518, 2584): 17,
 (1917, 2129): 36,
 (1, 4400): 44,
 (1, 4652): 35,
 (1511, 3357): 50,
 (1511, 5502): 38,
 (639, 4877): 57,
 (639, 5016): 40,
 (1720, 2492): 57,
 (868, 2233): 5,
 (868, 322): 36,
 (868, 5372): 22,
 (868, 84): 19,
 (1549, 146): 4,
 (1549, 3264): 5,
 (1549, 4825): 4,
 (50, 247): 23,
 (50, 5471): 14,
 (1967, 3367): 51,
 (631, 4355): 20,
 (164, 2666): 34,
 (164, 3748): 15,
 (774, 83): 38,
 (261, 2706): 25,
 (261, 30): 27,
 (261, 6076): 23,
 (1896, 1124): 31,
 (1896, 2944): 26,
 (1896, 4974): 33,
 (1901, 2158): 66,
 (947, 2552): 29,
 (947, 2620): 25,
 (459, 120): 12,
 (459, 3170): 10,
 (581, 211): 21,
 (581, 2320): 20,
 (1973, 1284): 9,
 (393, 5873): 40,
 (1669, 3303): 25,
 (1904, 2498): 19,
 (1904, 2555): 43,
 (708, 5165): 29,
 (708, 5621): 30,
 (933, 4997): 27,
 (1039, 304): 37,
 (1039, 4937): 36,
 (1105, 218): 25,
 (1668, 4440): 16,
 (1668, 4893): 24,
 (1737, 1096): 34,
 (242, 5591): 20,
 (1141, 5224): 42,
 (983, 3988): 19,
 (1267, 4299): 5,
 (1267, 44): 19,
 (275, 3911): 35,
 (275, 63): 85,
 (1569, 2392): 15,
 (1569, 5098): 10,
 (747, 2549): 25,
 (1181, 5824): 28,
 (1384, 3723): 49,
 (723, 3368): 12,
 (723, 6033): 13,
 (823, 2868): 21,
 (1405, 2690): 9,
 (1405, 4754): 14,
 (1405, 4844): 9,
 (1405, 5039): 9,
 (1405, 5420): 26,
 (265, 1264): 15,
 (734, 1252): 64,
 (1196, 4542): 19,
 (1621, 2709): 25,
 (977, 3026): 10,
 (977, 5101): 26,
 (1875, 4167): 26,
 (433, 3868): 37,
 (433, 4866): 24,
 (825, 2731): 12,
 (825, 3701): 18,
 (825, 42): 48,
 (825, 4524): 16,
 (155, 3111): 19,
 (1088, 6095): 38,
 (184, 2722): 7,
 (184, 4800): 7,
 (1971, 4566): 44,
 (1470, 256): 14,
 (1229, 3282): 20,
 (1229, 5547): 21,
 (1475, 3746): 29,
 (1475, 4496): 33,
 (1475, 5631): 22,
 (1285, 5172): 41,
 (649, 251): 32,
 (879, 4500): 30,
 (73, 2660): 14,
 (73, 2720): 33,
 (1988, 2161): 17,
 (1988, 5265): 26,
 (1988, 6063): 79,
 (1568, 6025): 26,
 (1677, 324): 36,
 (1788, 289): 40,
 (1341, 1008): 21,
 (1341, 4394): 43,
 (944, 3500): 46,
 (944, 5550): 15,
 (932, 188): 10,
 (932, 220): 23,
 (932, 2626): 34,
 (724, 2656): 11,
 (724, 5624): 7,
 (92, 3448): 26,
 (92, 5947): 39,
 (1882, 3229): 25,
 (1106, 2335): 27,
 (1117, 1162): 94,
 (490, 176): 52,
 (490, 5133): 35,
 (1830, 5217): 33,
 (1240, 1295): 28,
 (1240, 1361): 24,
 (1240, 3876): 28,
 (1332, 2406): 22,
 (1332, 4880): 25,
 (1332, 5666): 20,
 (1523, 2262): 6,
 (1523, 5509): 6,
 (601, 2347): 5,
 (601, 3681): 18,
 (918, 2734): 70,
 (970, 5679): 65,
 (456, 2800): 46,
 (1151, 2983): 11,
 (845, 5943): 29,
 (807, 3213): 21,
 (807, 4889): 16,
 (807, 5299): 16,
 (1008, 2325): 44,
 (1008, 2592): 39,
 (1008, 5850): 33,
 (1074, 3903): 13,
 (1074, 4539): 9,
 (1662, 4541): 59,
 (976, 3455): 16,
 (976, 4501): 20,
 (994, 2889): 8,
 (994, 3243): 10,
 (432, 4301): 12,
 (665, 3402): 12,
 (476, 1070): 152,
 (1928, 2434): 44,
 (738, 2270): 19,
 (614, 2953): 26,
 (614, 4753): 26,
 (979, 5421): 26,
 (1096, 5225): 97,
 (650, 3494): 5,
 (650, 3669): 15,
 (650, 3717): 7,
 (1058, 4502): 71,
 (869, 3103): 8,
 (869, 3104): 7,
 (27, 5383): 18,
 (1228, 3333): 12,
 (1228, 4419): 19,
 (1559, 3301): 79,
 (1559, 5797): 78,
 (1766, 3684): 6,
 (171, 1239): 113,
 (198, 305): 18,
 (113, 3705): 20,
 (113, 4526): 12,
 (113, 4586): 15,
 (107, 255): 14,
 (1226, 2231): 29,
 (1226, 6055): 10,
 (1263, 140): 37,
 (604, 4280): 3,
 (68, 27): 46,
 (68, 5435): 46,
 (1258, 3561): 11,
 (1258, 5951): 19,
 (1360, 143): 10,
 (1700, 2581): 62,
 (913, 3110): 22,
 (462, 2397): 32,
 (462, 3957): 25,
 (462, 5988): 31,
 (1985, 2834): 40,
 (1367, 2053): 40,
 (172, 3458): 37,
 (865, 4028): 27,
 (1291, 2473): 24,
 (1291, 5139): 27,
 (1697, 3023): 17,
 (1697, 4306): 15,
 (1646, 4742): 13,
 (1224, 2412): 29,
 (1224, 3874): 28,
 (1946, 3679): 62,
 (1946, 5701): 38,
 (138, 2820): 24,
 (584, 4040): 10,
 (1945, 5626): 6,
 (209, 258): 5,
 (209, 3795): 27,
 (1746, 1278): 13,
 (1416, 2951): 12,
 (1416, 4891): 9,
 (1416, 6061): 10,
 (118, 3557): 10,
 (1140, 3873): 14,
 (855, 3670): 11,
 (855, 5715): 17,
 (855, 5916): 19,
 (992, 3108): 44,
 (1856, 257): 32,
 (1856, 5949): 21,
 (84, 2580): 37,
 (84, 5750): 39,
 (1183, 4701): 23,
 (951, 2942): 16,
 (743, 1026): 18,
 (1557, 2471): 19,
 (871, 2910): 12,
 (61, 2265): 29,
 (61, 2622): 28,
 (61, 3503): 32,
 (264, 2239): 76,
 (1852, 28): 77,
 (194, 4273): 21,
 (194, 5062): 27,
 (194, 5587): 25,
 (755, 2206): 10,
 (755, 2321): 11,
 (755, 4797): 10,
 (1404, 2989): 17,
 (350, 2865): 40,
 (1577, 3504): 4,
 (1577, 3539): 13,
 (1670, 3304): 29,
 (1823, 3244): 36,
 (1823, 5177): 16,
 (1371, 2070): 14,
 (234, 2052): 25,
 (234, 4799): 16,
 (234, 5178): 21,
 (234, 62): 9,
 (764, 286): 45,
 (719, 6021): 46,
 (360, 4441): 25,
 (374, 3791): 23,
 (374, 4567): 14,
 (374, 5100): 9,
 (219, 4994): 16,
 (199, 2306): 39,
 (851, 1241): 52,
 (1095, 335): 5,
 (1095, 4691): 15,
 (1095, 5060): 14,
 (380, 3538): 45,
 (153, 107): 20,
 (1521, 1066): 20,
 (1521, 2495): 11,
 (623, 2072): 16,
 (623, 2130): 21,
 (906, 1190): 17,
 (906, 2409): 13,
 (48, 1294): 27,
 (48, 3456): 21,
 (1504, 5373): 16,
 (752, 4105): 17,
 (752, 5989): 19,
 (1571, 45): 16,
 (1571, 5397): 16,
 (5, 3283): 20,
 (1810, 2323): 12,
 (1810, 4839): 16,
 (1353, 3156): 5,
 (742, 4751): 12,
 (218, 4091): 15,
 (398, 1199): 25,
 (398, 2012): 15,
 (398, 2337): 10,
 (732, 46): 10,
 (732, 5220): 10,
 (732, 5948): 5,
 (216, 3404): 7,
 (1046, 3259): 79,
 (479, 1332): 27,
 (479, 2436): 20,
 (3, 2157): 18,
 (3, 3597): 22,
 (201, 2494): 10,
 (260, 323): 11,
 ...}

In [64]:
max_cont = 0
max_id = None
for tupla in cont:
    if cont[tupla] > max_cont:
        max_id = tupla
        max_cont = cont[tupla]
print(max_cont)
max_client = max_id[0]
max_card = max_id[1]
print(max_client)
print(max_card)

172
598
2040

In [58]:
merged2[merged2['client_id_x'] == max_id]['card_id']

1071    3364
1072    3364
1073    3364
1074    3364
1075    3364
        ...
1342    6058
1343    6058
1344    6058
1345    6058
1346    6058
Name: card_id, Length: 276, dtype: int64

# Task 2

In [12]:
df

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,$1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,NaN
13305911,23761869,2019-10-31 23:56:00,1766,2066,$12.80,Online Transaction,39261,ONLINE,NaN,NaN,5815,NaN
13305912,23761870,2019-10-31 23:57:00,199,1031,$40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,NaN
13305913,23761873,2019-10-31 23:58:00,1986,5443,$4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,NaN
13305914,23761874,2019-10-31 23:59:00,489,5697,$12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,NaN

In [10]:
len(df['mcc'])

13305915

In [11]:
len(df['mcc'].unique())

109